@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 직사각형 되는 정도부터는 padding 왼쪽을 적게, 오른쪽은 많이 */

body { background-color: #403964; }

/* 바탕 이미지 */
.back_img_h {
    grid-column: 2;
    display: flex;
    width: 42vw;
    height: auto;
    position: fixed;
    bottom: 0;
    margin-left: 50vw;
    pointer-events: none;
}

/* 로고 이미지 */
.login-img {
    width: 15vw;
    height: auto;
    pointer-events: none;
}

/* 전체 컨테이너 */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 19vh;
    padding-right: 25vw;
}

/* form 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25vw;
}

/* 나머지 컨테이너 */
.container2 {
    display: inline-block;
    width: 25vw;
}

/* 아이디, 비밀번호 input */
#id_username,
#id_password {
    font-family: 'GangwonEdu_OTFBoldA';
    border: none;
    width: 16vw;
    background-color: #403964;
    float: right;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.login-first {
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 8vh;
    display: inline-block;
}

/* 회원가입 */
.signup {
    font-family: 'Pretendard-Regular';
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 8vh;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.signup:hover {
    color: #FFBA00
}

/* 로그인 버튼 */
.login-btn {
    background-color: #8F87A7;
    font-family: 'Pretendard-Regular';
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 25vw;
    height: 5vh;
    margin-top: 8vh;
    cursor: pointer;
}

.login-btn:hover {
    color: #8F87A7;
    background-color: #FFFFFF;
}

/* 입력 글자 색 */
label {
    color: white;
    float: left;
}

/* input 클릭했을 때 강조X */
input {
    outline: none;
    color: white;
}

@media (max-width: 600px) {

    /* 로고 이미지 */
    .login-img {
        width: 45vw;
        height: auto;
    }

    /* 전체 컨테이너 */
    .login-container {
        margin-top: 22vh;
        padding: 0;
    }

    /* form 컨테이너 */
    .container {width: 70vw;}

    /* 나머지 컨테이너 */
    .container2 {width: 70vw;}

    /* 아이디, 비밀번호 input */
    #id_username,
    #id_password {width: 45vw;}

    /* 로그인 버튼 */
    .login-btn {width: 70vw;}
}

.login {
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}

.id-input, .password-input {
    font-family: 'GangwonEdu_OTFBoldA';
    color: white;
}

/* 아이패드용 */
/* @media (min-width: 700px) {

    .login-img {
        width: 45vw;
        height: auto;
    }

    .login-container {
        margin-top: 15vh;
        padding: 0;
    }

    .container {width: 70vw;}

    .container2 {width: 70vw;}

    #id_username,
    #id_password {
        width: 45vw;
        height: 2vh;
    }

    .login-btn {width: 70vw;}
} */